<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzw.mapper.StudentMapper">
	
	<select id="selectList" resultType="student">
		select id, name, sex, age from student
	</select>
	
	<select id="selectOneById" resultType="student" parameterType="int">
		select id, name, sex, age from student where id = #{0}
	</select>
	
	<select id="selectMap" resultType="map" >
		select id, name, sex, age from student limit 1
	</select>
	
	<select id="selectMap2" resultType="map" >
		select id, name, sex, age from student
	</select>
	
	<select id="selectMap3" resultType="student" >
		select id, name, sex, age from student
	</select>
</mapper>